*.o
/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/cmdline.c
/cmdline.h
/dummy.c
/dummy.vala
/lib
/m4
/mad
/mad.exe
/mcp
/mcp.exe
/mln
/mln.exe
/mmv
/mmv.exe
/mmv.c
/mmv.1
/mmv_vala.stamp
/mmv_vala.stamp-t
/mmv-*.tar.gz
/stamp-h1
