/config.libpath
/install-reloc
/libtool-reloc
/reloc-ldflags
/bootstrap.in
/extract-trace
/funclib.sh
/inline-source
/options-parser
/ar-lib
/compile
/config.guess
/config.sub
/depcomp
/install-sh
/ltmain.sh
/mdate-sh
/missing
/texinfo.tex
